/********************
 * Colors
 ********************/
h2, h3, strong {
	color: rgb(120, 120, 160);
}


/********************
 * Page Elements
 ********************/
.preview {
	margin-bottom: 40px;
}

.posthead {
	padding-bottom: 30px;
}

.posthead h2 {
	text-align: left;
}

.tagsection {
	margin-top: 10px;
	margin-bottom: 10px;
}

.tag {
	background: rgba(0, 0, 0, .2);
	border: none;
	padding: 2px 8px;	
	text-align: center;
	vertical-align: top;
	text-decoration: none;
	display: inline-block;
	position: relative;
	top: -2px;
	opacity: 0.7;
	filter: alpha(opacity=7); /* For IE8 and earlier */
	border-radius: 6px;
	font-weight: bold;
	overflow: hidden;
	margin-bottom: 2px;
}

.tag:focus,
.tag:active,
.tag:visited {
	color: rgb(80, 80, 90);
}

.tag:hover,
.tag:focus {
	color: rgb(80, 80, 90);

	opacity: 0.85;
	filter: alpha(opacity=85); /* For IE8 and earlier */
}

.pagenav {
	padding-top: 20px;
	text-align: center;
}

.pagenav span {
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: relative;
	
	max-width: 45%;
	
	opacity: 0.4;
	filter: alpha(opacity=4); /* For IE8 and earlier */
	
	font-weight: bold;
	
	overflow: hidden;
}

.pagenav a {
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: relative;
	
	max-width: 45%;
	
	-webkit-transition: padding .5s;
	-moz-transition: padding .5s;
	-o-transition: padding .5s;
	-ms-transition: padding .5s;
	transition: padding .5s;
	
	opacity: 0.7;
	filter: alpha(opacity=7); /* For IE8 and earlier */
	
	font-weight: bold;
	
	overflow: hidden;
}

.pagenav a:focus,
.pagenav a:active,
.pagenav a:visited {
	color: rgb(80, 80, 90);
}

.pagenav a:hover,
.pagenav a:focus {
	padding-left: 30px;
	padding-right: 30px;
	
	color: rgb(80, 80, 90);
	
	opacity: 0.85;
	filter: alpha(opacity=85); /* For IE8 and earlier */
}

.pagenav .newer {
	border-right-width: 3px;
	border-right-style: solid;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.pagenav  .older {
	border-left-width: 3px;
	border-left-style: solid;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.pagenav  .middle {
	border-radius: 8px;
}

.postnav {
	padding-top: 20px;
    padding-bottom: 20px;
	overflow: auto;
}

.postnav a {
	border: none;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	position: relative;
	
	max-width: 45%;
	
	-webkit-transition: padding .5s;
	-moz-transition: padding .5s;
	-o-transition: padding .5s;
	-ms-transition: padding .5s;
	transition: padding .5s;
	
	opacity: 0.7;
	filter: alpha(opacity=7); /* For IE8 and earlier */
	
	font-weight: bold;
	
	overflow: hidden;
}

.postnav a:focus,
.postnav a:active,
.postnav a:visited {
	color: rgb(80, 80, 90);
}

.postnav a:hover,
.postnav a:focus {
	padding-left: 40px;
	padding-right: 40px;
	
	color: rgb(80, 80, 90);
	
	opacity: 0.85;
	filter: alpha(opacity=85); /* For IE8 and earlier */
}

.postnav .prev {
	float: left;
	left: 0px;
	
	border-left-width: 3px;
	border-left-style: solid;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
}

.postnav .next {
	float: right;
	right: 0px;
	
	border-right-width: 3px;
	border-right-style: solid;
	border-top-left-radius: 8px;
	border-bottom-left-radius: 8px;
}

.taglist {
	display: none;
}

.taglist h2 {
	text-align: left;
}

.taglist li {
	padding-bottom: 0px;
}

.taglist:target {
	display: block;
}

.blogpost img {
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/********************
 * Small device CSS
 ********************/