@import url('https://fonts.googleapis.com/css?family=Iceland|Unica+One');

/**** Reset CSS (remove browser defaults) ****/
body, html, div, blockquote, img, label, p, h1, h2, h3, h4, h5, h6, pre, ul, ol,
li, dl, dt, dd, form, a, fieldset, input, th, td {
	margin: 0; padding: 0; border: 0; outline: none;
}

/********************
 * Fonts
 ********************/
body { 	
	font-size: 18px;
	font-family: Calibri, Arial, sans-serif;
	transition: font-size .5s;
}

h2 {
	font-size: 34px;
	font-family: 'Unica One', Calibri, Arial, sans-serif;
	transition: font-size .5s;
}

h3 {
	font-size: 24px;
	font-family: 'Iceland', Calibri, Arial, sans-serif;
	transition: font-size .5s;
}

strong {
	font-size: 22px;
	font-family: 'Iceland', Calibri, Arial, sans-serif;
	transition: font-size .5s;
}

header  h1 {
	font-size: 60px;
	font-weight: bold;
	font-family: 'Iceland', Calibri, Arial, sans-serif;
	padding-bottom: 0px;
	padding-left: 92px;
	transition: font-size .5s, padding-left .5s;
}

header  h2 {
	font-size: 24px;
	font-weight: lighter;
	font-family: 'Iceland', Calibri, Arial, sans-serif;	
	text-align: left;
	padding-bottom: 15px;
	padding-left: 92px;
	white-space: nowrap;
	text-decoration: none;
	margin-bottom: 0px;
	transition: font-size .5s, padding-left .5s;
}

header img {
	position: absolute;
	padding-left: 10px;
	padding-top: 24px;
	width: 72px;
	height: 72px;
	transition: width .5s, height .5s, padding-top .5s;
}

footer {
	font-size: 16px;
	transition: font-size .5s;
}


/********************
 * Colors
 ********************/
html {
	background: rgb(220, 220, 220) url(../images/background.jpg) no-repeat repeat top center scroll; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	/*main font and bg colors for all pages */
	color: rgb(120, 120, 120);		
}

header, footer {
	/*font and bg colors for all headers and footers */
	color: rgb(248, 248, 248);
	background: rgb(80, 80, 90);
}

header  h2 {
	color: rgb(176,176,176);
}

article a {
	color: rgb(80, 80, 90);
}

article a:visited {
	color: rgb(55, 55, 115);
}

article a:hover ,
article a:focus {
	color: rgb(115, 115, 150);
}

.darken {
	background: rgba(0, 0, 0, .2);
}

.lighten {
	background: rgba(255, 255, 255, .8);
}


/********************
 * Page Elements
 ********************/
 
html {
	height: 100%;
}

body {
	height: 100%;
	overflow-y: scroll;
	min-width: 331px;
}

header {
	position: absolute;
	width: 100%;
	min-width: 331px;
}

h1 {
	padding-top: 15px;
	padding-bottom: 15px;
	padding-left: 10px;
	white-space: nowrap;
}

h2 {
	text-decoration: none;/*underline;*/
	text-align: center;
	margin-bottom: 10px;
}

h3 {
	margin-bottom: 10px;
}

.column {
	max-width: 1024px;
	margin: auto;
}

article {
	min-height: 100%;
}

.box {
	padding-top: 177px; /*157 + 20*/
	padding-bottom: 22px;
	padding-left: 20px;
	padding-right: 20px;
	transition: padding .5s;
}

footer {
	text-align: right;
	vertical-align: bottom;
	width: 100%;
	height: 22px;
	position: relative;
	bottom: 22px;
	padding-top: 1px;
	left: 0px;
}

footer .darken {
	height: 100%;
	overflow: hidden;
}

.footerbox {
	padding-left: 10px;
	padding-right: 10px;	
}

article ul {
	padding-left: 20px;
	padding-bottom: 20px;
}

p, article ul > li{
	padding-bottom: 12px;
}


/********************
 * Small device CSS
 ********************/
@media (max-width: 920px) {
	body { font-size: 16px; }
	h2 { font-size: 30px; }
	h3 { font-size: 22px; }
	strong { font-size: 20px; }
	header h1 {font-size: 44px; padding-left: 70px; }
	header h2 {font-size: 18px; padding-left: 70px; }
	header img {width: 55px; height: 55px; padding-top: 21px;}
	footer {font-size: 14px; height: 20px; bottom: 20px; }
	.box {padding-top: 146px; padding-left: 10px; padding-right: 10px; }
}

@media (max-width: 655px) {
	body { font-size: 14px; }
	h2 { font-size: 26px; }
	h3 { font-size: 20px; }
	strong { font-size: 16px; }
	header h1 {font-size: 30px; padding-top: 10px; padding-left: 51px; }
	header h2 {font-size: 12px; padding-bottom: 10px; padding-left: 51px; }
	header img {width: 36px; height: 36px; padding-top: 15px;}
	footer {font-size: 10px; height: 16px; bottom: 16px; }
	.box {padding-top: 110px; padding-left: 5px; padding-right: 5px; }
}