/********************
 * Colors
 ********************/
h2, h3, strong {
	color: rgb(120, 160, 160);
}


/********************
 * Page Elements
 ********************/
.homeimg {
	max-width: 640px;
	margin: auto;
	padding-bottom: 20px;
}

.box > ul {
	padding-left: 20px;
	padding-bottom: 20px;
}

.box > ul > li > ul{
	padding-left: 20px;
}

p, .box > ul > li{
	padding-bottom: 12px;
}


/********************
 * Small device CSS
 ********************/