/********************
 * Colors
 ********************/
h2.secB, h3.secB, strong.secB, span.secB {
	color: rgb(120, 160, 160);
}

h2.secC, h3.secC, strong.secC, span.secC {
	color: rgb(160, 160, 120);
}

h2.secD, h3.secD, strong.secD, span.secD {
	color: rgb(120, 160, 120);
}

h2.secF, h3.secF, strong.secF, span.secF {
	color: rgb(160, 120, 160);
}



/********************
 * Page Elements
 ********************/
.box > ul {
	padding-left: 20px;
	padding-bottom: 20px;
}

.box > ul > li > ul{
	padding-left: 20px;
}


p, .box > ul > li{
	padding-bottom: 12px;
}

table, td{
	padding-bottom: 20px;
}

tr > .leftpad {
	padding-left: 10px;
}

.project {
	width: 128px;
	transition: width .5s;
}

.portrait {
	width: 140px;
	padding-left: 40px;
	padding-right: 40px;
	transition: width .5s, padding .5s;
}

.blogpost > p > img {
	max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/********************
 * Navigation Bar
 ********************/
 
/********************
 * Post Navigation
 ********************/






/********************
 * Small device CSS
 ********************/
@media (max-width: 820px) {
	.sharebtns > a { font-size: 16px;}
	.project{width: 96px;}
	.portrait{width: 105px; padding-left: 20px; padding-right: 20px;}
}

@media (max-width:590px) {
	.sharebtns > a { font-size: 14px;}
	.project{width: 64px;}
	.portrait{width: 70px; padding-left: 0px; padding-right: 0px;}
}