<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Test > Christopher Parrott</title>
		<meta name="description" content="Contact Information of Christopher Parrott" />
		<meta name="keywords" content="christopher parrott, university of sheffield, sheffield" />
		<link rel="shortcut icon" href="favicon.ico">
		<link rel="stylesheet" type="text/css" href="main.css" />
	</head>
	<body>
{{content}}	

		<footer>
			<div class="darken">
				<div class="column">
					<span class="footerbox">&copy; Christopher Parrott, 2016</span>
				</div>
			</div>
		</footer>
	</body>
</html>